<div class="w-full shadow-md rounded-lg">
  <div class="h-48">
    <img
      class="w-full h-full object-cover rounded-tl-lg rounded-tr-lg"
      [alt]="name"
      [src]="image"
    >
  </div>

  <div class="flex flex-col p-3">
    <div class="text-md">{{ name }}</div>
    <div class="text-xs">{{ providerName }}</div>
    <div class="flex justify-between">
      <div class="text-2xl text-slate-600 font-bold">{{ price | formatPrice }}</div>
      <dv-quantity></dv-quantity>
    </div>
    <div class="flex gap-3 mt-3 w-full">
      <dv-button class="w-full">Comprar</dv-button>
      <dv-button [type]="'secondary'" class="group">
        <svg class="w-6 h-6 text-slate-600 group-hover:text-white group-focus:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5h4m-2 2V3M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.938-11H17l-2 7H5m0 0L3 4m0 0h2M3 4l-.792-3H1"/>
        </svg>
    </dv-button>
    </div>
  </div>

</div>

